@mixin global-btn() {
    background-color: $primary-color;
            color: $dark-neutral;
            font-size: 1.2rem;
            font-weight: 600;
            transition: all 0.4s;
            border-radius: 0;
            &:hover {
                color: $dark-neutral !important;
                background-color: $primary-darkened !important;
            }
}