// Primary Colors
$body-bg: #f2f2f2;
$secondary-bg: #F2EC99;

$primary-color: #e9b765;
$primary-darkened: #fcd392;

$dark-neutral: #3C3C40;
$dark-secondary: #737373;
$light-dark: #ababab;

$brown: #6F5E53;
$coffee: #A6998F;
$light-coffee: #EDE8DC;

$gold: #FFB200;
$silver: #686D76;
$navy: #1C2F36;

$color-primary: #3E402D;
$color-accent: #A3BF78;


$black: #000;
$white: #fff;