// Primary Colors
$body-bg: #F2F2F2;
$secondary-bg: #F2EC99;

$primary-color: #EAF205;
$primary-darkened: #ecde12;

$dark-neutral: #3C3C40;
$dark-secondary: #737373;
$light-dark: #ababab;

$color-primary: #010326;
$color-accent: #A3BF78;
