// Primary Colors
$body-bg: #F2F2F2;
$secondary-bg: #F2EC99;

$primary-color: #e9b765;
$primary-darkened: #fcd392;

$dark-neutral: #3C3C40;
$dark-secondary: #737373;
$light-dark: #ababab;

$coffee: #A6998F;
$light-coffee: #EDE8DC;

$color-primary: #3E402D;
$color-accent: #A3BF78;


$black: #000;