// School Name Font
@font-face {
    font-family: 'amiri';
    src: url('../fonts/amiri/Amiri-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'amiri';
    src: url('../fonts/amiri/Amiri-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

// Main Website Font

@font-face {
    font-family: 'changa';
    src: url('../fonts/changa/Changa-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'changa';
    src: url('../fonts/changa/Changa-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'changa';
    src: url('../fonts/changa/Changa-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'changa';
    src: url('../fonts/changa/Changa-ExtraBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}