header {
    section.header-section {
        .header-photo {
            @include student-header($dark-neutral, "../images/background.webp", $light-coffee);

            .user-photo {
                @include user-photo($light-coffee);
                img {
                    object-fit: cover;
                    height: 100%;
                }
            }

            .col-md-5 {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .col-md-7 {
                display: flex;
                justify-content: center;
                flex-direction: column;
            }

            // .student-name {
            //     color: $light-coffee;
            //     text-shadow: 2px 2px 5px rgba($dark-neutral, 0.6);
            //     font-size: 3rem;
            // }
            .student-class {
                color: $black;
            }
        }
    }
}

section {
    &.about-student {
        .info {
            background-color: $white;
            padding: 20px 15px;
            border-radius: 10px;
            .line {
                margin: 20px 15px;

                h4,
                p {
                    display: inline-block;
                    margin-bottom: 10px;
                }
                h4 {
                    font-size: 1.5rem;
                    font-weight: 600;
                    &.about-student-title {
                        font-size: 1.6rem;
                        color: $black;
                        padding-bottom: 5px;
                        border-bottom: 2px solid $dark-neutral;
                    }
                }
                p {
                    font-size: 1.3rem;
                    font-weight: 500;
                    &.about-text {
                        text-align: justify;
                    }
                }
            }
        }
    }

    &.marks {
        background-color: $light-coffee;
        .table > :not(caption) > * > * {
            background-color: $white;
        }
        #final-grade {
            &-1,
            &-2,
            &-3 {
                color: $color-primary;
                font-weight: 600;
                font-size: 1.1rem;
            }
        }
    }

    &.advices {
        @include advices($dark-neutral, "../images/background-student.webp", $white);
        .col-lg-3 {
            margin-bottom: 50px;
        }
        .card {
            color: $white;
            height: 50%;
            width: 100%;
            padding: 10px 10px;
            background-color: transparent;
            border: 0;
            .card-title {
                height: 50px !important;
            }
            .advice-caption {
                font-weight: 500;
            }
        }
    }
}

/*============== Media Queries ==============*/
@media (max-width: 768px) {
    header {
        section.header-section {
            .header-photo {
                height: 80vh;
                padding-top: 50px;

                .col-md-7 {
                    align-items: center;
                }
                .student-name {
                    font-size: 2.2rem;
                }
            }
        }
    }
}
