@import "./_variables.scss";
@import "./_mixins.scss";
@import "./fonts.scss";
@import "./global.scss";

header {
    .navbar {
        background-color: rgba(#fff, 0.5);
        transition:
            background-color 0.3s ease,
            box-shadow 0.3s ease;
        padding: 0;
        &.scrolled {
            background-color: #f4f4f4;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }
        &.bg-change {
            background-color: #f4f4f4;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand {
            color: $black !important;
            font-family: "amiri", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            font-weight: 600;
            font-size: 2.4rem;
        }

        .navbar-toggler {
            background-color: $primary-color;
            color: $dark-neutral;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            text-align: center;
            &:focus {
                box-shadow: none;
            }
        }

        .nav-link {
            font-size: 1.4rem;
            font-weight: 500;
            padding: 5px 15px;
            margin: 10px 20px;
            color: $dark-secondary;
            transition: all 0.5s;
            position: relative;
            &::after {
                content: "";
                width: 100%;
                height: 3px;
                background-color: $dark-neutral;
                position: absolute;
                bottom: 0;
                right: 0;
                transition: all 0.5s;
                transform: scaleX(0);
            }
            &.active {
                color: $dark-neutral;
                &::after {
                    transform: scaleX(1);
                }
            }
            &:hover {
                &::after {
                    transform: scaleX(1);
                    background-color: $dark-secondary;
                }
            }
        }
    }

    section.carousel-top {
        box-shadow: 0px 4px 12px 3px rgba(0, 0, 0, 0.41);
        .row > * {
            padding: 0 !important;
        }
        .carousel {
            // overflow: hidden;
            &-item {
                height: 100vh;
                img {
                    min-height: 450px;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-caption {
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                display: flex !important;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                background-color: rgba($dark-neutral, 0.5);
                padding: 0px 120px;
                h1 {
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 1rem;
                    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
                }
                h4 {
                    color: #f0f0f0;
                    font-size: 1.2rem;
                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
                    margin: 0.5rem 0;
                }
            }
        }
    }
}

section {
    padding: 50px 0;
    position: relative;
    .section-heading {
        font-size: 3rem;
        line-height: normal;
        color: $color-primary;
        position: relative;
        margin-bottom: 50px;
        &::after {
            content: "";
            width: 10%;
            height: 5px;
            background-color: $color-primary;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &.activities {
        .col-md-6 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &:nth-of-type(2),
            &:nth-of-type(4) {
                justify-content: flex-end;
            }
        }
        .card {
            width: 70%;
            background-color: transparent;
            border: 1px solid $coffee;
            padding: 15px 10px 20px;
            margin-bottom: 50px;
            text-align: center;
            box-shadow:
                rgba($coffee , 0.16) 0px 3px 6px,
                rgba($coffee , 0.23) 0px 3px 6px;
            color: $black;
            .card-icon {
                color: $coffee !important;
            }

            &-title {
                font-size: 1.5rem;
                line-height: normal;
                font-weight: 500;
                position: relative;
                &::after {
                    content: "";
                    width: 15%;
                    height: 3px;
                    background-color: $black;
                    position: absolute;
                    bottom: -5px;
                    right: calc(50% - 15% / 2);
                }
            }
            &-text {
                font-weight: 500;
            }
        }
    }

    &.students {
        background-color: $light-coffee;
    }
}
// Swiper styles
// .swiper {
//     width: 100%;
//     height: 500px;
//     padding-bottom: 50px;
//     overflow: hidden;
// }

// .swiper-wrapper {
//     display: flex;
//     align-items: center;

// }

// .swiper-slide {
//     width: 50%;
// }

// .swiper-slide img {
//     display: block;
//     height: 100%;
// }

.slideStyle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    color: $dark-neutral;
    transition: 0.25s;
}

.swiperParallax {
    &.swiper {
        width: 100%;
        overflow: hidden;
    }
    .swiper-wrapper {
        flex-direction: row;
        align-items: center;
        display: flex;
    }
    .swiper-slide {
        width: 50vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1.5rem;
        flex-direction: column;
        flex: none;
        &.swiper-slide-active {
            .gallery-img__wrapper {
                opacity: 1;
                transform: scale(1);
            }
            .gallery-info__wrapper {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
    .gallery-img__wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 66.7%;
        border-radius: 0.75rem;
        opacity: 0.25;
        transform: scale(0.6);
        transition:
            transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),
            opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1);
        .gallery-img {
            position: absolute;
            top: 0;
            width: 130%;
            height: 100%;
            max-width: none;
            object-fit: cover;
        }
    }
    .gallery-info__wrapper {
        display: flex;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateY(50%);
        transition:
            transform 0.6s cubic-bezier(0.77, 0, 0.175, 1),
            opacity 0.8s cubic-bezier(0.77, 0, 0.175, 1);
        .heading-medium {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1;
        }
    }
}

/*============== Media Queries ==============*/
@media (max-width: 1200px) {
    header {
        .navbar {
            .navbar-brand {
                font-size: 2.2rem;
            }
            .nav-link {
                font-size: 1.1rem;
            }
        }
    }
}

@media (max-width: 1000px) {
    header {
        .navbar {
            .navbar-nav,
            .sign-button {
                text-align: center;
                padding-bottom: 15px;
            }
        }
    }
}
@media (max-width: 992px) {
}

@media (max-width: 768px) {
    header {
        section.carousel-top {
            .carousel {
                &-caption {
                    padding: 0px 60px;
                }
            }
        }
    }

    section {
        &.activities {
            .col-md-6 {
                justify-content: center !important;
            }
            .card {
                width: 80%;
            }
        }
    }
}

@media (max-width: 576px) {
}
